<div>
	<h2>Position</h2>					
	x: <input type="text" id="ang-camera-model-x" ng-model="cameramodel.x" ng-change="cameramodelChangeX()"><br>
	Y: <input type="text" id="ang-camera-model-y" ng-model="cameramodel.y" ng-change="cameramodelChangeY()"><br>
	Z: <input type="text" id="ang-camera-model-z" ng-model="cameramodel.z" ng-change="cameramodelChangeZ()"><br>
	phi: <input type="text" id="ang-camera-model-phi" ng-model="cameramodel.phi" ng-change="cameramodelChangePhi()"><br>
	theta: <input type="text" id="ang-camera-model-theta" ng-model="cameramodel.theta" ng-change="cameramodelChangeTheta()"><br>
	radius: <input type="text" id="ang-camera-model-radius" ng-model="cameramodel.radius" ng-change="cameramodelChangeRadius()"><br>
					
	<h2>Lens</h2>					
	fov-y: <input type="text" id="ang-camera-model-fovy" ng-model="cameramodel.fovy" ng-change="cameramodelChangeFovy()"><br>
	aspect-ratio:: <input type="text" id="ang-camera-model-aspect" ng-model="cameramodel.aspect" ng-change="cameramodelChangeAspect()"><br>
	near: <input type="text" id="ang-camera-model-near" ng-model="cameramodel.near" ng-change="cameramodelChangeNear()"><br>
	far: <input type="text" id="ang-camera-model-far" ng-model="cameramodel.far" ng-change="cameramodelChangeFar()"><br>
</div>
